# ignore all logs
*.o
e3bin
*.so
*.x
*~
*.exe
*.a
*.pyc
extern/cea2
#
lib/gas/build
!lib/gas/build/makefile
#
lib/gas/models/gaspy.py
lib/gas/models/gaspy_wrap.cxx
#
lib/geometry/build
!lib/geometry/build/makefile
#
lib/geometry2/build
!lib/geometry2/build/makefile
lib/geometry2/source/libgeom2.py
lib/geometry2/source/libgeom2_wrap.cxx
#
lib/nm/build
!lib/nm/build/makefile
lib/nm/build/libnm.py
lib/nm/build/libnm_wrap.cxx
lib/nm/source/libnm.py
lib/nm/source/libnm_wrap.cxx
#
lib/radiation/source/radpy.py
lib/radiation/source/radpy_wrap.cxx
lib/radiation/build/cea2
lib/radiation/build/radpy.py
#
extern/lua-5.1.4/bin
extern/lua-5.1.4/include
extern/lua-5.1.4/lib
extern/lua-5.1.4/man
extern/lua-5.1.4/src/liblua.a
extern/lua-5.1.4/src/lua
extern/lua-5.1.4/src/luac
#
app/eilmer3/build
!app/eilmer3/build/make*
#
app/poshax3/build/p3post.py
#
app/eilmer3/source/libprep3.py
app/eilmer3/source/libprep3_wrap.cxx
app/eilmer3/source/kernel_with_rev_string.cxx
