td {
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;

}
.rightborder {
	border-right: 1px solid #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;


}
body {
	background-color: #FFFFFF;
}
a {
	color: #0000A0;
	text-decoration: none;
}
a:hover {
	color: #FF0080;
	text-decoration: underline;
}
.headline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bolder;
	color: #9B0004;
	text-transform: none;

}
.bottomborder {
	border-right: 1px #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;

}
.noticeheading {
	font-weight: bold;
	color: #339900;
}
