# Example input file for pitot.
# Chris James (c.james4@uq.edu.au) 07/05/13
# This is my own condition 1.1. 
# A fully theoretical H2/He calculation for a gas giant entry condition 
# in X2 with the secondary driver in use.
# I've tried to annotate this config file as much as I can so it will
# be useful to other people using the program.


#--------------------------- Start-up --------------------------------------
# This is where the setup of the program is specified.

# Name of the output file (if required)
filename = 'gas-giant-theory'

# Boolean statement controlling if pitot will clean up temporary files after running
# Use false unless you really want to clean everything up.

cleanup = False 

# Testcase to run. There are three options:
# 'fulltheory-pressure' = a fully theoretical run where shock speeds are found from set fill pressures
# 'fulltheory-shock' = a fully theoretical run where fill pressures are found from set shock speeds 
# 'experiment' = partially theoretical run where both shock speeds and fill pressures are specified based on experimental data

test = 'fulltheory-pressure'

# Solver to use. There are three options:
# 'eq' = equilibrium calculations using CEA code
# 'pg' = perfect gas solver
# "pg-eq' = a combination of pg and eq solvers, used for CO2 based gases. Sets state1 as a pg, but everything else (including the shock to state 2, are done as eq)

solver = 'eq'

# Mode that the program is run in. There are five options:
# 'printout' = normal run, prints out a summary to the screen, a txt file and a csv file at the end of the program, then quits
# 'return' = simpler run, useful if pitot is to be used inside a bigger program. returns a set of values at the end of the run, then quits
# the returned values are cfg, states, V and M, which are, the config dictionary, state dictionary, velocity dictionary and mach number dictionary
# 'cea-printout' = same as printout but does some cfcfd gas object printouts at the end
# 'txt-printout' = just does the txt file printout
# 'cea-txt-printout' = just the txt file printout but with cea style printouts too
# 'csv-printout' = just does the csv printout

mode = 'printout'

# Here you can specify how many steps are used for the various unsteady expansions
# You should use at least 200 steps for these secondary driver and shock tube expansion
# to check the accuracy.

secondary_driver_expansion_steps = 300

shock_tube_expansion_steps = 300

# need to use 800 - 1000 steps on the acceleration tube unsteady expansion to match the
# pressure across the contact surface properly, which is important.

acc_tube_expansion_steps = 1000

# Can specify your own bounds and initial guesses for the secant solver in 
# the acceleration tube if you so desire

# for 'fulltheory-pressure' testcase:

#Vs2_lower = 
#Vs2_upper =
#Vs2_guess_1 =
#Vs2_guess_2 = 

# for 'fulltheory-shock' testcase: (all pressures in Pa)

#p5_lower = 5.0
#p5_upper = 2000.0
#p5_guess_1 = 10.0
#p5_guess_2 = 100.0

#------------------------- Facility parameters -----------------------------
# This is where the facility parameters are specified.

# The facility to simulate. Currently there are two options:
# 'x2' = the x2 expansion tube
# 'x3' = the x3 expansion tube

facility = 'x2'

# Tunnel mode to use. There are two options:
# 'expansion-tube' = expansion tube mode
# 'nr-shock-tunnel' = non-reflected shock tunnel mode

tunnel_mode = 'expansion-tube'

# Secondary driver 

secondary = True

# Nozzle

nozzle = True

# Piston in use (Only currently required for x2 facility). There are two options:
# 'lwp' = lightweight piston. tuned driver condition designed by David Gildfind
# 'ostp' = original single stage piston. designed by Michael Scott

piston = 'lwp'

#-------------------------- Tunnel parameters ------------------------------

# Driver gas to use (by mole fraction). There are four options:
# Keep in mind, that the fourth option is normally only used for X3 facility.
# 'He:0.80,Ar:0.20'
# 'He:0.90,Ar:0.10' 
# 'He:1.0'
# 'He:0.60,Ar:0.40'

driver_gas = 'He:1.0'

# Test gas to use (by mole fraction where mentioned). There are myriad options:
# Check the make_test_gas function in the main program for more info about the gases
# 'air'; 'air5species'; 'n2'; 'titan'; 'gasgiant_h215ne'; 'gasgiant_h215he'; 
# 'gasgiant_h240ne'; 'gasgiant_h285ne'; 'gasgiant_h210he'; 'gasgiant_h210ne'; 
# 'co2'; 'mars'; 'venus'
# NOTE: co2, mars and venus test gases only work with pg and pg-eq solvers

test_gas = 'gasgiant_h215he'

# Specified shock speeds (used for both the 'fulltheory-shock' and 'experiment' test cases)
# Units for shock speeds are m/s and should be inputted as floating point numbers
# Vsd, Vs1 and Vs2 are the names of the variables

# Specified fill pressures (used for both the 'fulltheory-pressure' and 'experiment' test cases)
# Units for fill pressures are Pa and should be inputted as floating point numbers
# psd, p1 and p5 are the names of the variables
# psd is secondary driver fill pressure (if used)
# p1 is shock tube fill pressure
# p5 is acceleration tube fill pressure (if used)

psd1 = 17500.0
p1 = 4700.0
p5 = 6.40

#-------------------------- Final parameters ------------------------------
# Some parameters that control the solution

# Nozzle area ratio
# I normally start with 2.5

area_ratio = 2.5

# Choose whether to expand expanding shocked test gas to the shock speed or 
# the gas velocity behind the shock in the acceleration tube.
# 'flow-behind-shock' = expand shocked test gas to gas velocity behind shock in the acceleration tube
# 'shock-speed' = expand the shocked test gas to the shock speed in the acceleration tube
# NOTE: use 'flow-behind-shock' unless you know what you're doing. 
# I found that expanding to the shock speed does not work well for the theoretical cases.

#expand_to = 'flow-behind-shock'

# Change the ratio of the expansion specified in the parameter above.
# Leave this value as a floating point 1.0 unless you know what you're doing,
# but it's used to tweak how far above or below the shock speed / gas velocity 
# that the test gas is expanded to.

#expansion_factor = 1.0

# Turns on the shock switch that is used for simulating scramjet conditions.
# In a scramjet condition in an expansion tube the secondary driver shock is
# driven faster than the shock in the test gas, creating a normal shock into 
# the shock tube, instead of the usual unsteady expansion. The switch below turns
# that feature on (the code will try to look for the phenomena itself, 
# but it won't always find it).
# NOTE: always make this false unless you know what it is!

shock_switch = False

# Turns on the code that calculates the conditions over a conehead placed in the test section.
# The conehead angle can be specified in degrees, but will default to 15 degrees if not specified.

#conehead = True
#conehead_angle = 15.0 # (degrees)


# Turns on the code that calculates the conditions over a normal shock over a test model in the test section.

shock_over_model = True



