# Default signal.config file
# One line per configured signal with space-separated values.
# Be sure to have no spaces within string values.
# The Id for each signal is the tuple of (card_id, channel_id, subchannel_id)
#
# Line content and types of values (first item is item 0):
# i  item            type        comments
# ----------------------------------------------------------------------------
# 0  signal_name     string    don't include spaces in names
# 1  card_id         integer   1, 2, ... 7
# 2  channel_id      integer   1, 2 or 3
# 3  subchannel_id   integer   0 for no multiplexing, otherwise 1,2, 3 or 4
# 4  external_gain   float     1.0 if you have no external amplifiers, etc
# 5  sensitivity     float     volts per measured unit (of the transducer)
# 6  units           string    name of units for physical quantity (e.g. kPa)
# 7  position        float     position of transducer in mm
# 8  serial_number   string    transducer identity (and manufacture)
# 9  transducer_type string    pressure or thermocouple or thin-film
#-----------------------------------------------------------------------------
# Sample data follows...
test1a 1 1 1  1.0  1.0  Volts  1.0  unknown     raw-voltage
test1b 1 1 2  1.0  1.0  Volts  1.0  unknown     raw-voltage
test2  1 2 0  2.0  2.0  kPa    2.0  2341        pressure
# The following signal definition will be ignored because 
# the previous definition has the same signal Id
test2a 1 2 0  2.0  2.0  kPa    2.0  3412        pressure
test3  1 3 0  1.0  1.0  Volts  3.0  pcb-sn4123  unknown
#-----------------------------------------------------------------------------
# Note that, for multiplexed signals, the program assumes that you use all
# subchannels 1..mux where mux is the number of signals multiplexed into
# one analogue-to-digital channel.  Trying to configure only subchannels 3 
# and 4, for example, is asking for trouble.
