[global]
dx             = 1.0e-5
final_x        = 2.0e-2
plot_every     = 1
thermo_file    = n2_ion.pgm
reac_file      = n2_ion.rsi
output_file    = output-1T.data
output_type    = mole_f
problem_type   = chem

[conditions]
p_inf    = 133.32
T_inf    = 298.0
u_inf    = 6.4e3
# species:  N2    N    N2+  N+   e-
mole_f   =  1.0   0.0  0.0  0.0  0.0



